@CHARSET "utf-8";	
      body {
	font-family: '돋움', dotum, Helvetica, sans-serif;
	font-size: 14px;
	/* background: url(../img/iusony.jpg) no-repeat center center fixed; */
	-webkit-background-size: cover;
	        -moz-background-size: cover;
	        -o-background-size: cover;
	        background-size: cover;		        		  	
		}
	/* 게시판 목록 테이블 설정 */
	table.list{	    
		width:100%;
		margin: auto;
		text-align: center; /* 가운데로 정렬 */
	}
	
.list { clear: both;width: 100%;border-collapse:collapse;border:1px solid #e0e0e0;}
.list { border-left:1px solid #e0e0e0;border-top:1px solid #e0e0e0; height:29px;font-size:11px;vertical-align:middle;color:#979797;padding:0 0px;text-align:center;background:#eff0f0;}
.list a {color:#979797;}

.list { clear: both;width: 100%;border-collapse:collapse;margin:15px 0 0 0;}
.list th {background:#6f6f6f;}
.list td { border-bottom:1px solid #c7c7c7; font-size:11px;vertical-align:middle;color:#333333;padding:60px 60px;text-align:center;padding:10px 30px;}
.list a {color:#333333;}
.list a:link    {color:#333333;}
.list a:visited {color:#0080ff;}
.list a:hover  {background:#FFE6E6;}
.list a:active  {color:#333333;}




.list th,td {padding:5px 10px} /* 상하 여백 5 좌우 여백 10
	thead의 배경색과 폰트 색상, 오른쪽 경계선의 색상을 지정한다.  */
 	.list thead th {background:#d2f9c4; color:#8d8985; text-align:center; border-right:1px solid #fff}	 
	 .list tfoot tr {border-top:6px solid #E9F7F6; color:#1BA6B2}
	.list tbody tr {background:#ffffff;}  /* tbody 배경 색 */ 
	.list tbody tr:hover {background:#cdec93;} /* 각 행에 마우스 커서를 올렸을 때 `배경 색 */


	
		table.list1{	    
		width:100%;
		margin: auto;
		text-align: center; /* 가운데로 정렬 */
	}
	
.list1 { clear: both;width: 100%;border-collapse:collapse;border:1px solid #e0e0e0;}
.list1 { border-left:1px solid #e0e0e0;border-top:1px solid #e0e0e0; height:29px;font-size:11px;vertical-align:middle;color:#979797;padding:0 0px;text-align:center;background:#eff0f0;}
.list1 a {color:#979797;}

.list1 { clear: both;width: 100%;border-collapse:collapse;margin:15px 0 0 0;}
.list1 th {background:#6f6f6f;}
.list1 td { border-bottom:1px solid #c7c7c7; font-size:11px;vertical-align:middle;color:#333333;padding:60px 60px;text-align:center;padding:10px 30px;}
.list1 a {color:#333333;}
.list1 a:link    {color:#333333;}
.list1 a:visited {color:#0080ff;}
.list1 a:hover  {background:#FFE6E6;}
.list1 a:active  {color:#333333;}




.list1 th,td {padding:5px 10px} /* 상하 여백 5 좌우 여백 10
	thead의 배경색과 폰트 색상, 오른쪽 경계선의 색상을 지정한다.  */
 	.list1 thead th {background:#d2f9c4; color:#8d8985; text-align:center; border-right:1px solid #fff}	 
	 .list1 tfoot tr {border-top:6px solid #E9F7F6; color:#1BA6B2}
	.list1 tbody tr {background:#ffffff;}  /* tbody 배경 색 */ 
	.list1 tbody tr:hover {background:#cdec93;} /* 각 행에 마우스 커서를 올렸을 때 `배경 색 */
	
	
	
	
	
	p.paging{
	    width:50%;
		text-align: center; /* 가운데로 정렬 */	
		font-weight: bold;		
	}
	/* 한번도 클릭하지 않은 링크, none으로 언더라인 생기지 않게 함 */
	a:link {color:#888; text-decoration:none;}
	/* 한번 이상 클릭한 링크, none으로 언더라인 생기지 않게 함 */
	a:visited {color:#888; text-decoration:none;}	
	/* 마우스 오버시 링크 색상, none으로 언더라인 생기지 않게 함 */
	a:hover {color:#333; text-decoration:none;}
	
	/* 이미지 마우스 오버시 커서 포인터 변경 */
	.action{
	  cursor: pointer;
	}
	/* 페이징   */
		p.paging{
		width:110%;
		text-align: center;
	}

	
	.memberInfo{
		font-size: 12px;
		border: 2px solid #CCCCCC;
		cellspacing:"1"; 
		cellpadding:"0"; 
		bgcolor:"#73F96D"; 
		width:"100"; 
		background-color: white;
	}
	.memberInfo tr td {color: red;}
	
	.showListPosting{
		cellpadding: 10px;
		text-align: center;
		width: 100%;
	}
	.showListPosting th{
		cellpadding: 10px;
		text-align: center;
		font-size: 15px;
		border-bottom: 1pt solid #808080;
		background-color: #ffac59;
	}
	.showListPosting tr{
		border-bottom: 1pt solid #808080;
	}
	
		.showListPosting tr:hover {background:#cdec93;} /* 각 행에 마우스 커서를 올렸을 때 배경 색 */
	
	#highlightimg{
	 width: 100px;
	 height: 180px;
	}
	
	#slideimg{
	width: 1000px;
	height: 600px;
	}
	
	#boardContent{
		width: 500px;
		min-height: 400px;
		height: auto;
		border: 1px solid #ccc;
	}
	
	.messageList th{
		text-align: center;
	}
	.list  td:nth-child(2){
		text-align: left;
	}
		.list1  td:nth-child(3){
		text-align: left;
	}

	
